<div>

    <ul id="twig-rendered-item-list" class="product-list row grid">
        {% for key, item in itemList if (key < 4) %}
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                {% if not auction %}
                    {% include "CeresSchaffrath::Category.Item.Partials.CategoryListItem" with { 'item': item } %}
                {% elseif  auction.id > 0 %}
                    {% include "CeresSchaffrath::Category.Item.Partials.CategoryListItemWithAuction" with { 'item': item, 'auction': auction } %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</div>

