<script type="x/template" id="vue-auction">
    <div class="col-xs-6">
<h2>und noch ein Test</h2>
        <input type="text" id="input" v-model="message">
        <p> hier ist die message: ${ message } .</p>
    </div>
</script>