.cmp-hero .hero-xtras .hero-category>img {
  width: 100%;
  min-height: 100%;
}

.hero-xtras .hero-category-headline {
  background-color: rgba(white, 0.4);
  min-width: 8rem;
  padding: .5em;
}

.carousel-control {
  bottom: 50px;
}

.carousel-caption {
  padding-bottom: 0px;
  padding-top: 7px;
  bottom: 6.5rem;
  //background-color: rgba(233,233,233,0.5);
}


.navbar-brand {
  img {
    max-height: 5.6rem;
    margin: -28px 3px 0;
  }
}

.nav {
  background-color: $brand-primary;
}

.copyright {
  background-color: $body-bg;
  color: $gray-dark;
}
