{#ao - diff Besteuerung#}
<hr/>
<div class="small text-muted">
    <p>Dieses Angebot ist Differenzbesteuert nach §25a UstG für Sammlungsstücke und
        Antiquitäten/Sonderregelung.<br/>Die enthaltene MwSt ist nicht ausweisbar.</p>
</div>


{# ao Var-Dump #}
        {% include "CeresSchaffrath::VarDump" with { 'dataAo': itemData.item.id } %}


