{#ao - diff Besteuerung#}
<hr/>
<div class="small text-muted">
    <p>Dieses Angebot ist Differenzbesteuert nach §25a UstG für Sammlungsstücke und
        Antiquitäten/Sonderregelung.<br/>Die enthaltene MwSt ist nicht ausweisbar.</p>
</div>


{# ao Var-Dump #}
{#<h2>{{ itemData }}</h2>#}
{#<h3>${ itemData }</h3>#}
{#<h4>$itemData</h4>#}
{#{% include "CeresSchaffrath::VarDump" with { 'dumpData': itemData } %}#}


