{#ao - diff Besteuerung#}
<div class="row container p-y-2">
    <hr>
    <div class="small text-muted">
        <p>Dieses Angebot ist Differenzbesteuert nach §25a UstG für Sammlungsstücke und
           Antiquitäten/Sonderregelung.<br/>Die enthaltene MwSt ist nicht ausweisbar.</p>
    </div>
</div>


