<div class="tab-pane m-b-3" id="assessments-info" role="tabpanel">
    <div class="m-y-2">

        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Besuchen Sie auch unser <a href="/kontakt/">Ladengeschäft</a> in Kleinmachnow</h4>
            <p>Im Raum Berlin/Potsdam können Sie mir gerne alles anbieten, was mit Numismatik zu tun hat <span
                        class="small">(Münzen,
                Medaillen usw.)</span></p>
            <p class="m-b-0">Ich kann jederzeit Ihre Sammlung bei Ihnen vor Ort bewerten <strong>( kostenfrei!
                    )</strong><br>
                - und kaufe natürlich auch an!</p>
        </div>

    </div>
</div>


