{% extends 'Ceres::PageDesign.PageDesign' %}

{% block PageBody %}

    {% set termsAndConditions = services.legalInformation.getTermsAndConditions() %}


    <div class="container-max page-content">
        <div class="row">
            <div class="col-xs-12 col-lg-10 offset-lg-1 m-t-1">

                {% autoescape false %}
                    <h1>{{ trans("Ceres::Template.generalGtc") }}</h1>
                {% endautoescape %}

                <hr class="m-y-2">

                <div class="col-lg-8 offset-lg-1 m-y-2">
                    {{ termsAndConditions.htmlText | raw }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
