{% extends 'Ceres::PageDesign.PageDesign' %}

{% block PageBody %}

    {% set lang = services.sessionStorage.getLang() %}

    {% set categoryByRoute = services.category.get(category, lang) %}

    <div class="container-max page-content">
        <div class="row">
            <div class="col-xs-12 col-lg-10 offset-lg-1 m-t-1">

                {% autoescape false %}
                    <h1>{{ categoryByRoute.details.first.name }}</h1>
                {% endautoescape %}

                <hr class="m-y-2">

                <div class="col-lg-9 offset-lg-1 m-y-2">
                    {{ categoryByRoute.details.first.description | raw }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}