{% extends 'Ceres::PageDesign.PageDesign' %}

{% block PageBody %}

    {% set categoryVersand = services.category.get(168) %}

    {#{% set privacyPolicy = services.legalInformation.getPrivacyPolicy() %}#}

    <div class="container-max page-content">
        <div class="row">
            <div class="col-xs-12">
                {% autoescape false %}
                    <h1>{{ trans("CeresSchaffrath::Template.versandkostenTitle") }}</h1>
                {% endautoescape %}

                <hr class="m-y-3">
                <div class="staticPages">{{ categoryVersand.details.first.description | raw }}</div>

            </div>
        </div>
    </div>

{% endblock %}