.home {

  .product-list {
    .col-xs-12 {
      margin: 0 15px;
    }
  }
}

.cmp-hero {

  // margin: 0 -15px;
  .hero-main {
    .carousel {
      .carousel-inner {
        .carousel-item {

          .carousel-caption {

            background-color: rgba(233, 233, 233, 0.5); //ao test

            bottom: 6.5rem; // bottom:0;
            padding-top: 7px; // ao
            padding-bottom: 0px; // padding-bottom: 10px;
            h3, h2 {
              font-family: $font-family-heading;
              text-shadow: $carousel-text-shadow;
              color: $white;
              // background: rgba($brand-primary, .8);
              padding: .5rem 1rem;
              font-size: 1.3rem;
              display: inline-block;
              margin: 0;
              transition: all .3s ease;
            }
            h2 {
              text-transform: uppercase;
              font-size: 1.7rem;
            }
          }
          .hero-category:hover {
            h2, h1 {
              background: rgba($brand-primary, 1);
              transition: all .3s ease;
            }
          }

        }
      }
      .carousel-indicators {
        background: transparent;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        li {
          border-color: $brand-primary;
          &.active {
            background: $brand-primary;
          }
        }
      }
      .hoover-ao-left {
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
      }
      .hoover-ao-right {
        background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
      }
      .carousel-control {
        height: 88.7%;
        span {
          text-shadow: none;
          font-size: 30px;
          top: 50%;
          transform: translateY(-50%);
        }
        .icon-ao {
          position: absolute;
          top: 50%;
        }
      }
    }
  }
  .hero-xtras {
      .auction-category-item-special-home {
        z-index: 100;
        font-family: $font-family-heading;
        color: $brand-danger;
        background-color: rgba(204, 48, 46, .5);
        display: block;
        position: absolute;
        top: 15rem;
        right: 25px;
        bottom: auto;
        left: auto;
        padding: 0.6rem 0.6rem 0rem 0.6rem;
        -webkit-transform: skewY(-4deg); /* Safari */
        transform: skewY(-4deg); /* Standard syntax */
        box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, .2);

        .auction-special-tag {
          background-color: rgba(255, 255, 255, .66);
          padding: .3em .9em .3rem;
          font-size: 3rem;
        }
      }
    .hero-category {
      .hero-category-inner {
        padding: .5rem 1rem;
        .hero-category-headline {
          font-family: $font-family-heading;
          text-shadow: $carousel-text-shadow;
          padding: 1rem;
          box-shadow: none;
          align-self: flex-start;
          font-weight: normal;
          font-size: 1.25rem;
          background: rgba($brand-primary, .66);
          margin: 1rem;
          display: block;
          width: auto;
          text-align: left;
          color: $white;
          transition: all .3s ease;
        }
      }
      &:hover {
        .hero-category-headline {
          background: rgba($brand-primary, 1);
          transition: all .3s ease;
        }
      }
    }
  }
}

.featured-categories {
  .col-md-8 .prop-inner,
  .col-md-4 .prop-inner {
    padding: 15px 0;
    width: calc(100% - 15px);
  }
}

.sale-new {
  .col-xs-6 {
    .prop-inner {
      padding: 15px 0;
      left: 15px;
      width: calc(100% - 15px);
    }
    &:last-child {
      .prop-inner {
        left: 0;
      }
    }
  }
}

.section-header {
  padding: 1rem 1.5rem;
  border-bottom: 0;
  background: $brand-primary-gradient; // $brand-primary;
  position: relative;
  font-family: $font-family-heading;
  h4 {
    padding: .2rem 0 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.75rem;
    color: $white;
  }
  a.section-link-all {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    color: $white;
    &:hover {
      color: $gray-darker;
    }
  }
}

@include media-breakpoint-up(sm) {
  .home {
    .product-list {
      margin: 0;
      .col-xs-12 {
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(md) {

  .home {
    .product-list {
      margin: 0;
    }
  }

  .featured-categories {
    .col-md-8 .prop-inner {
      padding: 15px;
      padding-right: 7.5px;
    }
    .col-md-4 .prop-inner {
      padding: 15px 0 15px 7.5px;
    }
  }
  .sale-new {
    .col-xs-6 {
      .prop-inner {
        padding: 15px 7.5px 15px 15px;
        left: 0;
        width: 100%;
      }
      &:last-child {
        .prop-inner {
          left: 0;
          padding: 15px 15px 15px 7.5px;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .home {
    .product-list {
      margin: 0;
    }
  }
  .cmp-hero {
    margin: 0;
    .hero-main {

      .carousel {
        .carousel-inner {
          .carousel-item {
            .carousel-caption {
              // bottom:20px;
              // padding-bottom: 20px;
              h3, h1 {
                font-size: 3rem;
              }
              h3 {
                font-size: 2rem;
              }
            }
          }
        }
        .carousel-indicators {
          bottom: 0;
          top: auto;
          li {
            border-color: $brand-primary;
            &.active {
              background: $brand-primary;
            }
          }
        }
        .carousel-control {
          span {
            font-size: 60px;
            bottom: 10%;
            top: auto;
            &:before {
              color: $brand-primary;
            }
          }
        }
      }
    }
    .hero-xtras {
      .hero-category {
        .hero-category-inner {
          padding: 0;
          .hero-category-headline {
            margin: 0;
            width: 100%;
            font-size: 1.5rem;
            font-family: $font-family-heading;
            text-shadow: $carousel-text-shadow;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .home {
    .product-list {
      margin: 0 -15px;
    }
  }
}